{% load static %}
<html lang="ja">
  <head>
    <title>AraraTodo</title>
    <meta charset="UTF-8">
    <link href="{% static 'style.css' %}" rel="stylesheet">
  </head>
  <body>
    <!-- ヘッダー -->
    <header>
        <h1>Arara-ToDo test2</h1>
        <h2>２回目以降のデプロイだよ</h2>
        <form action="/addTodo/" method="post">{% csrf_token%}
            <p><input type="text" name="content" placeholder="テキストを入力してください"></p>
            <button type="submit">
                <img src="{% static 'image/add_icon1.png' %}" alt="追加">
                <img src="{% static 'image/add_icon2.png' %}" alt="追加">
            </button>
        </form>                
    </header>
    <!-- ヘッダー終了 -->
    <!-- メイン -->
    <main>
      <content>
          <ul>
            {% if todo_list %}
              {% for todo in todo_list %}
                <li>
                  <p>{{ todo.content }}</p>
                  <div>
                    <a href="">
                      <img src="{% static 'image/update_icon1.png' %}" alt="編集">
                      <img src="{% static 'image/update_icon2.png' %}" alt="編集">
                    </a>
                    <a href="{% url 'delete' todo.id %}">
                      <img src="{% static 'image/delete_icon1.png' %}" alt="削除">
                      <img src="{% static 'image/delete_icon2.png' %}" alt="削除">
                    </a>
                  </div>
                </li>
              {% endfor%}
            {% else %}
              <li>
                <p>No item is available.</p>
              </li>
            {% endif %}
          </ul>
    </content>
    </main>
    <!-- メイン終了 -->
    <!-- フッター -->
    <footer>
      <p>Copyright 2021 arara inc. All Right Reserved</p>
    </footer>
    <!-- フッター終了 -->
  </body>
</html>