/* 初期化設定 */
*{
    margin: 0;
    padding: 0;
    font-size: 25px;
    box-sizing: border-box;
}
header,main,footer{
    width: 80%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
/* 初期化設定終了 */

body {
    width: 100%;

    background: url("image/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* ヘッダー */
header h1 {
    text-align:center;
    color: 404497;
    font-size: 35px;
    font-weight: 100;
    padding: 10px 0;
}
main {
    width: 40%;
    margin: 0 auto;
}
main > div {
    border-bottom: #404497 3px solid;
}
main > div p {
    color: #CBCBCB;
    font-weight: 100;
    padding: 5px 20px;
}
main > content li {
    display: flex;
    color: #404497;
    padding: 5px 20px;
    list-style: none;
    border-bottom: #707070 1px solid;
}
main > content li p {
    width: 100%;
}
/* ボタンの基本の形 */
main > content li button,
main > content li a{
    width: 70px;
    font-size: 15px;
    border-radius: 5px;
    margin: 2px 0;
    text-align: center;
    padding: 5px 0;
    color: #fff;
}
/* 削除ボタンのデザイン */
main > content li a {
    background: #c74f4f;
    border: solid #c74f4f 2px;
}

main > content li a:hover {
    background: #fff;
    color: #c74f4f;
    border: solid #c74f4f 2px;
}
/* 追加ボタンのデザイン */
main > content li:last-child button {
    border: solid #65ce85 2px;
    background: #65ce85;
}

main > content li:last-child button:hover {
    border: solid #65ce85 2px;
    background: #fff;
    color: #65ce85;
}

/* 追加formデザイン */

main > content li form {
    width: 100%;
    display: flex;
}
main > content li p input[type=text]{
    width: 90%;
    border: 1px solid #a0a0a0;
    margin: 3px 0;
    padding: 2px 10px;
    font-size: 23px;
}

main > content p {
    display: inline-block;
    width: 70vh;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p{
    color: #a0a0a0;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
}