/* 初期化設定 */
*{
    margin: 0;
    padding: 0;
    font-size: 25px;
}
header,main,footer{
    width: 80%;
    margin: 0 auto;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
/* 初期化設定終了 */

body {
    width: 100%;
}
header h1 {
    text-align:center;
    color: 404497;
    font-size: 35px;
}
main {
    width: 40%;
    margin: 0 auto;
}
main {
    font-size: 25px;
    border-bottom: #404497 3px solid;
    padding-left: 20px;
}
main > div p {
    margin: 0;
    color: grey;
}
main > content li {
    display: flex;
    color: #404497;
    padding: 0px 0 0px 20px;
    list-style: none;
    border-bottom: gray 1px solid;
}
main > content li p {
    width: 80%;
}
main > content li button {
    width: 70px;
    font-size: 15px;
    background: #c74f4f;
    color: #fff;
    border-radius: 5px;
    margin: 2px 0;
}

main > content li button:hover {
    background: #fff;
    color: #c74f4f;
    border: solid #c74f4f 2px;
}

main > content li p input[type=text]{
    border: 1px solid #a0a0a0;
    margin: 5px 0;
}

main > content li:last-child button{
    background: #65ce85;
}
main > content li:last-child button:hover {
    border: solid #65ce85 2px;
}

main > content p {
    display: inline-block;
    width: 70vh;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p{
    color: #a0a0a0;
    font-size: 15px;
    text-align: center;
}