/* 初期化設定 */
* {
    margin: 0;
    padding: 0;
    font-size: 25px;
    box-sizing: border-box;
}
body {
    width: 100%;
    background: url("image/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-width: 1000px;
}
header,main,footer {
    width: 80%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
img {
    width: 40%;
}
/* 初期化設定終了 */

/* ヘッダーデザイン*/
header h1 {
    text-align:center;
    color: 404497;
    font-size: 35px;
    font-weight: 100;
    padding: 10px 0;
}
/* ヘッダーデザイン終了*/

/* メインデザイン */
main {
    width: 70%;
    margin: 0 auto;
}
main > div {
    border-bottom: #404497 3px solid;
}
main > div p {
    color: #CBCBCB;
    font-weight: 100;
    padding: 5px 20px;
}

/* リストデザイン */
main > content li {
    display: flex;
    align-items: flex-start;
    color: #404497;
    padding: 5px 20px;
    list-style: none;
    border-bottom: #707070 1px solid;
    justify-content:space-between;
}
main > content li div{
    display: flex;
    justify-content: flex-end;
    width: 30%;
}
main > content li p {
    overflow-wrap: break-word;
}

/* ボタンの基本の形 */
main > content li button,
main > content li a {
    width: 70px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    margin: 2px;
    text-align: center;
    padding: 5px 0;
    color: #fff;

    position: relative;
	display: block;
	overflow: hidden;
	cursor: pointer;
}

/* 編集ボタン */
main > content li a:first-child {
    background: #a0a0a0;
    border: solid #a0a0a0 2px;
}
main > content li a:first-child:hover {
    background: #fff;
    color: #a0a0a0;
    border: solid #a0a0a0 2px;
}

/* 削除ボタンのデザイン */
main > content li a {
    background: #c74f4f;
    border: solid #c74f4f 2px;
}
main > content li a:hover {
    background: #fff;
    color: #c74f4f;
    border: solid #c74f4f 2px;
}

/* 追加ボタンのデザイン */
main > content li:last-child button {
    border: solid #65ce85 2px;
    background: #65ce85;
}
main > content li:last-child button:hover {
    border: solid #65ce85 2px;
    background: #fff;
    color: #65ce85;
}

/* hover時の画像のon off */
main > content li a img,
main > content li button img  {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	display: block;
}
main > content li a:hover img:nth-of-type(2),
main > content li button:hover img:nth-of-type(2) {
	opacity: 0;
}

/* 追加formデザイン */
main > content li form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
main > content li p input[type=text] {
    width: 90%;
    border: 1px solid #a0a0a0;
    margin: 3px 0;
    padding: 2px 10px;
    font-size: 23px;
}

/* コンテンツ内のテキストデザイン */
main > content p {
    display: inline-block;
    width: 70%;
}
/* メインデザイン終了 */

/* フッターデザイン */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    color: #a0a0a0;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
}
/* フッターデザイン終了 */